<div class="container text-center">


<h1 class="pt-3">All Restaurants</h1>

<ul class="row justify-content-md-center">
  <% @restaurants.each do |restaurant| %>
      <div class="col-6">
        <li class="card rounded p-4 text-center mb-3"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      </div>
  <% end %>
</ul>

<%= link_to "Create a new restaurant", new_restaurant_path, class: "btn btn-primary" %>

</div>

